* {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


img {
	max-height: 100%;
	max-width: 100%;
}

#message {
	font-weight: bold;
}

.jumbotron {
	background-color: black !important;
	color: white !important;
}